@model IndexVM
@{
    string username = User.Identity.Name;
}
<!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4 col-6 text-left">
                <form method="post" asp-action="SearchProduct">
                    <div class="input-group">
                        <input type="text" name="productName" class="form-control"  placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Categories Start -->
@if (!User.IsInRole("admin"))
{
        <div class="container-fluid pt-5">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Categories</span></h2>
            <div class="row px-xl-5 pb-3">
            @foreach (var cat in Model.Categories)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                        <a class="text-decoration-none" href="/Home/ProductCategory/@cat.CatId">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="~/categoryImages/@cat.CatPhoto" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>@cat.CatName</h6>

                            </div>
                        </div>
                    </a>
                </div>

            }

            </div>
        </div>
}

    <!-- Categories End -->


@if (!User.IsInRole("admin"))
{
        <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
        <div class="row px-xl-5">
        @foreach (var item in Model.Products)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/productImages/@item.ProImage" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="~/Home/ProductDetails/@item.ProId"><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href="~/Home/WishDetails/@item.ProId"><i class="fa-solid fa-rectangle-list"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">@item.ProName</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$@item.Price</h5><h6 class="text-muted ml-2"></h6>
                        </div>
                    </div>
                </div>
            </div>

        }

        </div>
    </div>
    <!-- Products End -->
}
   


    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="bg-light p-4">
                        <img src="~/images/brand-1.png" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="~/images/brand-2.png" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="~/images/brand-3.png" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="~/images/brand-4.png" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="~/images/brand-1.png" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="~/images/puma.png" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="~/images/under armor.png" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="~/images/reebok.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
